<div>
    <div>
        <div class="status-line">
            <p class="master-title">MasterSD status:</p>
            <p class="master-status" data-bind="text: masterStatus, style: { color: (connected() && !isBusy()) ? color_active_txt : color_passive_txt }"></p>
        </div>
        
        <label for="mastersd_ports">MasterSD Port</label>
        <div class="port-input">
            <select class="port-select" id="mastersd_ports" data-bind="options: portOptions, value: selectedPort, attr: { disabled: connected() }"></select>
            <button class="btn conn-btn" data-bind="click: connectMasterSD, text: connected() ? 'Disconnect' : 'Connect', attr: {disabled: isBusy() || portOptions().length < 2}"></button>
        </div>
        <label class="checkbox">
            <input type="checkbox" id="mastersd-autoconnect">
            Auto-connect on server startup
        </label>        
        <hr>
    </div>

    <div>
        <p class="sd-status" data-bind="text: 'SD ' + activeMaster()"></p>
            
        <div class="state-graphic">
            <i class="fas fa-computer state-icon" data-bind="style: { color: rpiColor }"></i>
            <div class="dot-row row-rpi">
                <span class="dot" data-bind="style: { backgroundColor: rpiColor }"></span>
                <span class="dot" data-bind="style: { backgroundColor: rpiColor }"></span>
                <span class="dot" data-bind="style: { backgroundColor: rpiColor }"></span>
            </div>
            <i class="fas fa-sd-card state-icon" data-bind="style: { color: connected() ? color_active : color_passive }"></i>
            <div class="dot-row row-3d">
                <span class="dot" data-bind="style: { backgroundColor: printerColor }"></span>
                <span class="dot" data-bind="style: { backgroundColor: printerColor }"></span>
                <span class="dot" data-bind="style: { backgroundColor: printerColor }"></span>
            </div>
            <i class="fas fa-print state-icon" data-bind="style: { color: printerColor }"></i>
        </div>
        
        <button class="btn control-btn" data-bind="click: switchSd, text: switchSdText, attr: {disabled: switchSdDisabled}"></button>
        <hr>
    </div>
    
    <div data-bind="visible: sdFiles() !== null">
        <div class="sd-header">
            <p class="sd-file-title">SD Storage</p>
            <p class="sd-space" data-bind="text: 'Free: ' + freeSpace() + ' / ' + allSpace()"></p>
            <i class="fas fa-rotate"></i>
        </div>
        
        <div class="sd-folder-div">
            <i data-bind="click: folderClick.bind($data, {path: '/sdcard'})" class="fas fa-sd-card fa-lg location-icon folder-item"></i>
            <i class="fas fa-chevron-right fa-sm location-icon"></i>
            <div class="curr-path" data-bind="foreach: currentPath">
                <p class="location-icon folder-item" data-bind="text: name, click: $parent.folderClick"></p>
                <i class="fas fa-chevron-right fa-sm location-icon"></i>
            </div>
        </div>
        
        <ul class="folder-view">
            <div data-bind="foreach: visibleFolders">
                <li class="list-item">
                    <div class="list-item-name folder-item" data-bind="click: $parent.folderClick">
                        <i class="fas fa-folder"></i>
                        <p data-bind="text: name"></p>
                    </div>
                    <i class="fas fa-trash"></i>
                </li>
            </div>
            <div data-bind="foreach: visibleFiles">
                <li class="list-item">
                    <div class="list-item-name">
                        <i class="fas fa-file"></i>
                        <p data-bind="text: name"></p>
                    </div>
                    <p data-bind="text: $root.getSizeUnit(Number(size))"></p>
                    <i class="fas fa-trash" data-bind="click: $parent.deleteFile"></i>
                </li>
            </div>
            
        </ul>
        
        <!-- Upload button and text -->
        <div>
            <label class="run-checkbox">
                <input data-bind="checked: autoRun" class="run-box" type="checkbox" id="mastersd-autorun">
                Run print when upload is complete
            </label>
            <div class="upload-div">
                <input type="file" id="browse" name="fileupload" style="display: none" data-bind="event: { change: $root.fileSelected }"/>
                <input class="btn" type="button" value="Upload to SD" data-bind="click: browseFile, attr: {disabled: isBusy}"></button>
                <p class="upload-hint">or drag & drop onto the area above</p>
            </div>            
        </div>      
    </div>

    
    <!-- Modal-Dialog -->
    <div id="sidebar_simpleDialog" class="modal hide fade">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
            <h3 class="modal-title" data-bind="text: dialogTitle"></h3>
        </div>
        <div class="modal-body">
            <h4 data-bind="text: dialogContent"></h4>
        </div>
        <div class="modal-footer">
            <button class="btn btn-cancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn btn-danger btn-confirm">Confirm</button>
        </div>
    </div>
    
</div>
