/* TODO: Have your plugin's CSS files generated to here. */
.state-icon {
    font-size: 2.7em !important;
    display: inline-block;
}

.dot {
    height: 6px;
    width: 6px;
    background-color: #bbb;
    border-radius: 50%;
    margin-inline: 3px;
    display: inline-block;
}

.dot-row {
    display: inline-block;
    padding-inline: 13px;
}

.state-graphic {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px;
}

.status-line {
    margin-top: 10px;
    display: flex;
    flex-direction: row;    
}

.master-title {
    font-size: large;
    padding-right: 7px;
}

.master-status {
    font-size: large;
    font-weight: 700;
}

.sd-status {
    font-size: medium;
}

.port-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.port-select {
    margin-bottom: 0 !important;
    margin-right: 5px;
    width: 160px;
}

hr {
    margin: 12px 0;
}

.control-btn {
    margin-top: 10px;
    width: 120px;
}

.conn-btn {
    width: 100px;
}

.sd-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.sd-file-title{
    font-size: medium;
    margin: 0;
}
.sd-space {
    font-size: 12px;
    margin: 0;
}
.location-icon{
    padding-right: 10px;
    color: #90A4AE;
    line-height: normal;
}
.sd-folder-div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.curr-path{
    display: flex;
    align-items: center;
}
.folder-view{
    overflow: hidden;
    overflow-y: scroll;
    height: 220px;
    border: 1px solid #90A4AE;
    border-radius: 5px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.list-item {
    padding: 10px 15px;
    border-bottom: 1px solid #90A4AE;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list-item-name{
    display: flex;
    align-items: center;
    width: 330px;
}
.folder-item{
    cursor: pointer;
    margin-bottom: 0;
}
.run-checkbox{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.upload-div{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.upload-hint{
    margin-bottom: 0;
    margin-top: 2px;
    color: #90A4AE;
}
.run-box{
    margin-top: 0 !important;
    margin-right: 5px !important;
}

.list-name {
    margin-bottom: 0px;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}